@using Microsoft.AspNetCore.Identity
@using FarmMilk.Areas.Identity.Data

@inject SignInManager<MilkWebUser> SignInManager
@inject UserManager<MilkWebUser> UserManager

<ul style="white-space: nowrap;" class="navbar-nav">
    @{
    }
@if (SignInManager.IsSignedIn(User))
{
    var arr = UserManager.GetUserName(User).Split('@');
    var UserName = arr[0];
    <li class="nav-item">
            <a id="manage" class="nav-link " style="color: white;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào @UserName</a>
    </li>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Home", "Home", new { area = "" })">
                <button id="logout" type="submit" style="color: white;" class="nav-link btn btn-link border-0">Đăng xuất</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" style="color:white;" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color:white;" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
</ul>
<style>
    body {
        background-color: #C8D6CE;
    }
    header {
        background-color: #668C75;
    }

    .bg-white {
        background-color: #668C75 !important;
    }

    .navbar-light .navbar-brand {
        color: white;
    }

    footer {
        visibility:hidden;
    }

    .active {
        background-color: #4C6857 !important;
        border-color: #4C6857 !important;
    }

    .btn-primary {
        background-color: #4C6857 !important;
    }
</style>