@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h2>QUẢN LÝ TÀI KHOẢN</h2>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
