@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}
@functions {
    public bool checkMobile()
    {
        var userAgent = Request.Headers["User-Agent"].ToString().ToLower();
        // Kiểm tra nếu user-agent chứa một số chuỗi phổ biến của thiết bị di động
        if (userAgent.Contains("android") || userAgent.Contains("iphone") || userAgent.Contains("ipad") || userAgent.Contains("windows phone"))
        {
            return true; // Trả về true nếu là thiết bị di động
        }
        else
        {
            return false; // Trả về false nếu không phải thiết bị di động
        }
    }
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    @if (!checkMobile())
    {
        <div class="col-md-6 col-md-offset-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" style="width: 100%" />
        </div>
    }
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Tạo tài khoản mới</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.firstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.firstName">Tên</label>
                <span asp-validation-for="Input.firstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.lastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.lastName">Họ</label>
                <span asp-validation-for="Input.lastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Mật khẩu</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
